<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1" >

  <test name="Class1" >
    <classes>
       <class name="com.plcapital.TestNGHelloWorldTest" />
    </classes>
  </test>
 <!-- Using package name works
  <test name="Package1">
    <packages>
      <package name="pl.capital" />
   </packages>
  </test>
   -->
</suite>

